:root {
	/* Palette: #f9f9f9 #d64937 #333333 #2d2d2d */

	/* Accents: #d64937 #ff9900 */
	--color-header: #2d2d2d;
	--color-header-text: #f9f9f9;
	--color-background: #dedede;
	--color-foreground: #f9f9f9;
	--color-text: #333;
	--color-accent: #f90;
	--padding-sides: 5%;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-header: #212121;
		--color-header-text: #f9f9f9;
		--color-background: #333;
		--color-foreground: #444;
		--color-text: #dedede;
		--color-accent: #f90;
	}
}

body {
	font-family: "Open Sans", sans-serif;
	color: var(--color-text);
	margin: 0;
	background: var(--color-background);
}

/*
 *  === HEADER ===
 */

header {
	background-color: var(--color-header);
	display: flex;
	align-items: end;
	position: relative;
	height: 130px;
	padding: 10px var(--padding-sides);
	box-shadow: 0 0 15px rgba(0, 0, 0, 1);
	margin-bottom: 20px;
}

.header-image-container {
	margin: 0 10px;
}

.header-image-container > img {
	height: 120px;
	max-height: 90%;
}

.site-title {
	margin: 10px;
	display: inline;
	font-weight: 400;
	font-family: "Source Code Pro", monospace;
	font-size: 50px;
	bottom: 0;
	flex-grow: 1;
}

.site-title > a {
	text-decoration: none;
	color: var(--color-header-text);
}

.login-button {
	margin: 10px;
	display: inline;
	font-weight: 400;
	font-family: "Source Code Pro", monospace;
	font-size: 50px;
	bottom: 0;
}

.login-button > a {
	font-size: 15px;
	color: var(--color-header-text);
	text-decoration: none;
}

.login-button > a:hover {
	color: var(--color-accent);
}

/*
 *  === FOOTER ===
 */
footer {
	background-color: var(--color-header);
	width: 100%;
	position: fixed;
	left: 0;
	bottom: 0;
	padding: 10px 0;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.footer-container {
	display: flex;
	flex-direction: row;
	padding: 0 var(--padding-sides);
}

.footer-text {
	color: var(--color-accent);
	display: inline-block;
	margin: 5px 15px;
}

#credits-by {
	align-self: flex-start;
	flex-grow: 1;
}

#credits-for {
	align-self: flex-end;
}

/*
 *  === BODY ===
 */
.content {
	margin: 3% var(--padding-sides);
}
