/*
 *  === INDEX PAGE ===
 */

.content-block {
	background-color: var(--color-foreground);
	margin: 4% 0;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#search-container {
	padding: 10px;
}

#search-entry {
}

#search-label {
}

#search-submit {
}
