/*
 *  === INDEX PAGE ===
 */

.content-block {
	background-color: var(--color-foreground);
	margin: 4% 0;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#avatar {
	background-color: white;
}

#uploadbutton,
#uploadbutton2 {
	margin-top: 15px;
	height: 50px;
	background-color: var(--color-header);
	color: var(--color-accent);
}

#flex-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

#flex-container > .content-block {
	width: 300px;
}

#search-label {
}

#search-submit {
}
