/*
 *  === BODY ===
 */

 .content-box {
	margin: 2% 10%;
}

.content-block {
	background-color: var(--color-foreground);
	margin: 4% 0;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#uploadbutton,
#uploadbutton2 {
	margin-top: 15px;
	height: 50px;
	background-color: white;
}