/*
 *  === STOCK PREDICTION PAGE ===
 */

.content-block {
	background-color: var(--color-foreground);
	margin: 4% 4%;
	padding: 15px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img.placeholder {
	width: 100%;
}
