/*
 *  === SEARCH RESULTS ===
 */
 
.content-block {
	background-color: var(--color-foreground);
	margin: 4% 0;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#search-container {
	padding: 5px;
	display: flex;
}

#search-label {
	margin: 5px 0;
}

#search-entry {
	margin: 0;
	min-width: 0;
	height: 40px;
	font-size: 20px;
	flex-grow: 1;
	background: var(--color-foreground);
	color: var(--color-text);
	padding: 10px;
	border: 2px solid var(--color-background);
}

#search-submit {
	margin: 0;
	height: 40px;
	width: 40px;
	background: var(--color-background);	
	font-size: 25px;
	color: var(--color-text);
	border: none;
	text-align: center;
}
#search-submit:hover {
	background: var(--color-accent);
}
